%verticalAlign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%iconСentering {
    display: block;
    @extend %verticalAlign;
    left: 50%;
    transform: translate(-50%, -50%);
}

%flexColumn {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

%flexColumnAlignStart {
    @extend %flexColumn;
    align-items: flex-start;
}

%flexRowWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}